### Setup and Imports

In [11]:
import duckdb
import pandas as pd
from pathlib import Path

# Define the path to the DuckDB database file generated by dbt
# This path is relative to the 'analytics' directory.
DB_PATH = '../pipelines/data_lake/prod.duckdb'

# Connect to the database
con = duckdb.connect(database=str(DB_PATH), read_only=True)
print("Successfully connected to the dbt data warehouse.")

Successfully connected to the dbt data warehouse.

### List Available Models

In [12]:
print("\n--- Available Tables/Models in 'main' schema ---")
print(con.execute("SHOW TABLES").df())

--- Available Tables/Models in 'main' schema ---
                           name
0  all_transactions_by_customer
1                    statements

### Load the all_transactions_by_customer Model

In [13]:
print("\n--- Loading 'all_transactions_by_customer' model ---")
transactions_df = con.execute("SELECT * FROM main.all_transactions_by_customer").df()
print("Schema:")
transactions_df.info()
print("\nFirst 5 rows:")
print(transactions_df.head())

--- Loading 'all_transactions_by_customer' model ---
Schema:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1217 entries, 0 to 1216
Data columns (total 25 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   username                                   1217 non-null   object
 1   email                                      1217 non-null   object
 2   address                                    1217 non-null   object
 3   financial_institution                      1217 non-null   object
 4   employer_name                              1217 non-null   object
 5   login_id                                   1217 non-null   object
 6   request_id                                 1217 non-null   object
 7   request_datetime                           1217 non-null   object
 8   request_status                             1217 non-null   object
 9   days_detected                              1217 non-null   object
 10  tag                                        1217 non-null   object
 11  account_name                               1217 non-null   object
 12  account_number                             1217 non-null   object
 13  account_type                               1217 non-null   object
 14  account_balance                            1217 non-null   float64
 15  date                                       1217 non-null   datetime64[us]
 16  description                                1217 non-null   object
 17  category                                   1217 non-null   object
 18  subcategory                                1217 non-null   object
 19  withdrawals                                1031 non-null   float64
 20  deposits                                   186 non-null    float64
 21  balance                                    1217 non-null   float64
 22  most_recent_statement_date                 1217 non-null   datetime64[us]
 23  most_recent_statement_date_minus_90_days   1217 non-null   datetime64[us]
 24  most_recent_statement_date_minus_180_days  1217 non-null   datetime64[us]
dtypes: datetime64[us](4), float64(4), object(17)
memory usage: 237.8+ KB

First 5 rows:
        username                   email  \
0  Joel Schaubel  JOELSCHAUBEL@GMAIL.COM
1  Joel Schaubel  JOELSCHAUBEL@GMAIL.COM
2  Joel Schaubel  JOELSCHAUBEL@GMAIL.COM
3  Joel Schaubel  JOELSCHAUBEL@GMAIL.COM
4  Joel Schaubel  JOELSCHAUBEL@GMAIL.COM

                                address financial_institution employer_name  \
0  36 HOLKHAM AVE, ANCASTER, ON, L9K1P1               Simplii
1  36 HOLKHAM AVE, ANCASTER, ON, L9K1P1               Simplii
2  36 HOLKHAM AVE, ANCASTER, ON, L9K1P1               Simplii
3  36 HOLKHAM AVE, ANCASTER, ON, L9K1P1               Simplii
4  36 HOLKHAM AVE, ANCASTER, ON, L9K1P1               Simplii

                               login_id                            request_id  \
0  5eff116b-d0d9-4924-4b37-08dc29c779f9  727DAE61-63E9-4121-801E-F11CA8FF32FD
1  5eff116b-d0d9-4924-4b37-08dc29c779f9  727DAE61-63E9-4121-801E-F11CA8FF32FD
2  5eff116b-d0d9-4924-4b37-08dc29c779f9  727DAE61-63E9-4121-801E-F11CA8FF32FD
3  5eff116b-d0d9-4924-4b37-08dc29c779f9  727DAE61-63E9-4121-801E-F11CA8FF32FD
4  5eff116b-d0d9-4924-4b37-08dc29c779f9  727DAE61-63E9-4121-801E-F11CA8FF32FD

      request_datetime            request_status days_detected  ...  \
0  2024-02-11 19:26:39  Get Statements Completed                ...
1  2024-02-11 19:26:39  Get Statements Completed                ...
2  2024-02-11 19:26:39  Get Statements Completed                ...
3  2024-02-11 19:26:39  Get Statements Completed                ...
4  2024-02-11 19:26:39  Get Statements Completed                ...

        date                             description category subcategory  \
0 2024-02-08                         NSF FEE NSF S/C    debit
1 2023-03-29         POS MERCHANDISE AIR-SERV MAC S/    debit
2 2023-10-18         POS MERCHANDISE DOLLARAMA   898    debit
3 2023-10-18           POS MERCHANDISE FRESHCO  9825    debit
4 2024-02-06  INTERAC E-TRANSFER SEND Jason Schaubel    debit

   withdrawals deposits  balance most_recent_statement_date  \
0        45.00      NaN  1482.55                 2024-02-09
1         2.00      NaN  3043.40                 2024-02-09
2         5.34      NaN  4939.63                 2024-02-09
3        11.80      NaN  4944.97                 2024-02-09
4        50.00      NaN  1727.55                 2024-02-09

  most_recent_statement_date_minus_90_days  \
0                               2023-11-11
1                               2023-11-11
2                               2023-11-11
3                               2023-11-11
4                               2023-11-11

   most_recent_statement_date_minus_180_days
0                                 2023-08-13
1                                 2023-08-13
2                                 2023-08-13
3                                 2023-08-13
4                                 2023-08-13

[5 rows x 25 columns]

### Ad-Hoc Analysis & Prototyping

In [14]:
print("\n--- Ad-Hoc Query: Total Withdrawals per Customer ---")
query = """
SELECT 
    email, 
    SUM(withdrawals) as total_withdrawals
FROM main.all_transactions_by_customer
GROUP BY email
ORDER BY total_withdrawals DESC
"""
print(con.execute(query).df())

--- Ad-Hoc Query: Total Withdrawals per Customer ---
                    email  total_withdrawals
0  JOELSCHAUBEL@GMAIL.COM          265788.41

### Closing the Connection

In [ ]:
con.close()
print("\nDatabase connection closed.")